@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
	background-color: #F5F5F5;
	text-align: center;
}

#cardImage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	margin-top: 40px;
}

.container {
	position: relative;
	text-align: center;
}

#inputsWrapper {
	display: flex;
    flex-wrap: wrap;
	position: absolute;
	top: 76%;
	left: 42%;
	transform: translate(-50%, -50%);
}

#outputBox {
	text-emphasis: bold;
	position: absolute;
	top: 45%;
	left: 57%;
	transform: translate(-50%, -50%);
	font-family: 'Orbitron', sans-serif;
	color: #F5F5F5;
	font-size: 22px;
	margin-top: 1px;
}

input {
	font-family: 'Orbitron', sans-serif;
	font-size: 20px;
	margin-right: 4px;
	background-color: rgba(0,0,0,0);
	color: #F5F5F5;
	border: none;
	text-align: center;
}

#calculateButton {
	margin-top: 50px;
	padding: 10px;
	font-size: 20px;
}
